body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

/* Styles large picture at top of site */
.header {
    min-height: 100vh;
    min-width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    opacity: 0.7;
}

/*--------------------------NAVIGATION BAR-----------------------------*/
nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

/* Styles logo */
nav img{
    width: 150px;
}

/* Styles tablinks */
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
/* Generates underline when hovering over tablinks */
.nav-links ul li:after {
    content: "";
    width: 0%;
    height: 2px;
    background: #4F3ADB;
    display: block;
    margin: auto;
    transition: 1s;
}
.nav-links ul li:hover:after {
    width: 100%;
}

/*--------------------------HOME PAGE-----------------------------*/
.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1 {
    font-size: 80px;
    font-family: 'Permanent Marker', cursive;
}
.text-box p {
    margin: 0px 0px 40px;
    font-size: 14px;
    color: #fff
}

/* Styles button on homepage */
.home-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.home-btn:hover {
    border: 1px solid #4F3ADB;
    background: #4F3ADB;
    transition: 1s;
}

/* Hides menu icons for large screens */
nav .fa {
    display: none;
}

/* Styles site for smaller devices like phones */
@media(max-width: 700px) {
    .text-box h1 {
        font-size: 30px;
        font-family: 'Permanent Marker', cursive;
    }
    /* Makes tablinks into a menu on the side */
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #4F3ADB;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}

/* Content of home tab ---------------------- */
.home-content {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1 {
    font-size: 36px;
    font-weight: 600;
    font-family: "Raleway", sans-serif;
}
p {
    color: #100A39;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}

/* Join part of home tab ------------------ */
.join {
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/join.jpg);
    opacity: 0.8;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px;
}
.join h1 {
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
/* Style for smaller devices */
@media(max-width: 700px) {
    .join h1 {
        font-size: 20px;
    }
}

/*--------------------------HEAL PAGE-----------------------------*/
.sub-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/heal-banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    opacity: 0.8;
}
.sub-header h1 {
    margin-top: 200px;
}

/* Styles content of heal page */
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.heal {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}
.heal-col {
    flex-basis: 48%;
    padding: 30px 2px;
}
.heal-col {
    width: 100%;
}
.heal-col h1 {
    padding-top: 0;
}
.heal-col p {
    padding: 15px 0px 25px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/*--------------------------PRICING PAGE-----------------------------*/
.price-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/price-banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    opacity: 0.8;
}
.price-header h1 {
    margin-top: 200px;
}

/* Style page content */
.pricing {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.price-col {
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.price-col img {
    width: 100%;
}
/* Layer above image when hovering */
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover {
    background: rgba(91, 109, 186, 0.8);
}
.layer ul li {
    text-align: left;
    font-family: Didot, serif;
    padding: 10px 30px 10px 10px;
    opacity: 0;
}
.layer:hover ul li {
    font-size: 15px;
    text-align: left;
    font-family: Didot, serif;
    padding: 10px 30px 10px 10px;
    opacity: 1;
    color: white;
}
.layer h3 {
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.5px;
    font-size: 30px;
}

/*--------------------------FEEDBACK PAGE-----------------------------*/
.feedback-header {
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/feedback-banner.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    min-height: 100vh;
    min-width: 100%;
    position: relative;
    opacity: 0.8;
}
.feedback-header h1 {
    margin-top: 200px;
}

/* Styles content */
.feedback {
    text-align: center;
    background: linear-gradient(#4C2F14, #F9BB80);
}
